<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <context:component-scan base-package="com.english.rockGod.pc.web"/>

    <bean name="userBeanMappingService" class="com.english.rockGod.pc.web.framework.BeanMappingServiceImpl"></bean>

    <bean id="userBeanMapper" class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles">
            <list>
                <value>classpath*:englishExpand/*.xml</value>
            </list>
        </property>
    </bean>
    <bean name="userbeans" class="com.english.rockGod.pc.web.util.Beans"></bean>

    <bean class="com.english.rockGod.pc.web.cascadeUtil.SpringContextCascadeFactory" id="cascadeFactory" >
        <constructor-arg index="0">
            <bean class="com.english.rockGod.pc.web.cascadeUtil.CascadeFactoryConfig">
                <property name="threadCount" value="1" />
                <property name="invocationInterceptorFactories">
                    <list>
                        <bean class="com.english.rockGod.pc.web.cascadeUtil.CascadePermissionInterceptorFactory" />
                    </list>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="cascade" factory-bean="cascadeFactory" factory-method="create"  class="com.english.rockGod.pc.web.cascadeUtil.Cascade"/>


</beans>
